h2 This
h6 is a list
h3 of indivual
h1 recipes
#placeholder

chart(ng-controller graphdata="[[0, 3], [4, 8], [8, 5], [9, 13]]" graphheight="400" graphopts="{{graphOpts}}")

article.listview(ng-repeat="recipe in recipes")
    h3 {{recipe.name}}
    h5 Created by {{recipe.owner}}
    ul (ng-repeat="ingredient in recipe.ingredients")
        li {{ingredient.name}}
        li {{ingredient.value}}

