article.post
    h3 CHECKOUT

    span.simpleCart_items
    hr
    span.simpleCart_quantity
    hr
    h5 Total &euro;
        span.simpleCart_total

    hr
    a.simpleCart_checkout(href="javascript:;") Checkout



    a.simpleCart_empty(href="javascript:;")


    //input(type="checkbox" ng-model="checked")

    //.checkout(ng-show="")


