.navbar.custom(data-ng-controller="NavCtrl")
    .navbar-inner
        .container-fluid
            ul.nav.nav-tabs
                li(data-access-level='accessLevels.anon', active-nav)
                    a(href='/') Home
                li(data-access-level='accessLevels.anon', active-nav)
                    a(href='/blog/posts') Blog
                li(data-access-level='accessLevels.anon', active-nav)
                    a(href='/contact') Contact
                li(data-access-level='accessLevels.anon', active-nav)
                    a(href='/about') About
                //li(data-access-level='accessLevels.anon', active-nav)
                    //a(href='/recipes') Graphs
                li(data-access-level='accessLevels.anon', active-nav='nestedTop')
                    a(href='/private') Private
                li(data-access-level='accessLevels.admin', active-nav)
                    a(href='/admin') Admin
                li(data-access-level='accessLevels.admin', active-nav)
                    a(href='/admin') Admin