h1 Make it better
ul(ng-repeat="question in questions")
	li {{question.label}}
		ul(ng-repeat="answer in question.questions")
			{{answer}}

div(ng-controller="questionsController")
	{{tfo}}



chart(tstvalue="red")


